In [1]:
import numpy as np
import pandas as pd

In [13]:
traffic_df = pd.read_csv('trafficdata.csv', delimiter = ';')

In [14]:
traffic_df

,index,Area,ONS LACode,City,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
0,0,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,7.0,0
1,1,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1
2,2,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,1.0,0.0,0.0,0,0,0,1.0,7.0,2
3,3,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,9.0,3
4,4,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,12.0,4
5,5,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,13.0,5
6,6,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,14.0,6
7,7,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,1.0,0.0,0.0,0,0,0,1.0,14.0,7
8,8,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,4,0.0,0.0,0.0,0,0,0,0.0,12.0,8
9,9,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,16.0,9
10,10,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,19.0,10
11,11,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,17.0,11
12,12,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,5.0,12
13,13,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,9.0,13
14,14,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,1.0,0.0,0.0,0,0,0,1.0,9.0,14
15,15,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,3.0,15
16,16,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,3,0.0,0.0,0.0,0,0,0,0.0,9.0,16
17,17,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,15.0,17
18,18,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,3,0.0,0.0,0.0,0,0,0,0.0,17.0,18
19,19,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,12.0,19
20,20,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,16.0,20
21,21,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,9.0,21
22,22,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,21.0,22
23,23,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,17.0,23
24,24,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,45,1.0,0.0,0.0,1,0,0,2.0,404.0,0
25,25,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,35,2.0,1.0,2.0,0,0,0,5.0,551.0,1
26,26,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,28,7.0,0.0,0.0,0,0,0,7.0,282.0,2
27,27,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,30,6.0,0.0,0.0,0,0,0,6.0,235.0,3
28,28,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,24,2.0,0.0,0.0,0,0,0,2.0,217.0,4
29,29,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,31,4.0,1.0,0.0,0,0,0,5.0,284.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743030,1743030,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,13,1.0,0.0,0.0,0,0,0,1.0,130.0,6
1743031,1743031,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,13,1.0,0.0,0.0,0,0,0,1.0,135.0,7
1743032,1743032,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,6,0.0,0.0,0.0,0,0,0,0.0,148.0,8
1743033,1743033,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,5,0.0,0.0,0.0,0,0,0,0.0,225.0,9
1743034,1743034,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,8,0.0,0.0,0.0,0,0,0,0.0,293.0,10
1743035,1743035,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,4,0.0,0.0,0.0,0,0,0,0.0,191.0,11
1743036,1743036,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,15,3.0,0.0,0.0,0,0,0,3.0,82.0,12
1743037,1743037,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,21,0.0,1.0,0.0,0,0,0,1.0,103.0,13
1743038,1743038,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,20,2.0,1.0,0.0,0,0,0,3.0,71.0,14
1743039,1743039,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,22,3.0,2.0,0.0,0,0,0,5.0,73.0,15
1743040,1743040,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,20,2.0,0.0,0.0,0,0,0,2.0,79.0,16
1743041,1743041,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,34,1.0,0.0,0.0,0,0,0,1.0,109.0,17
1743042,1743042,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,18,1.0,1.0,0.0,0,1,0,3.0,94.0,18
1743043,1743043,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,32,2.0,0.0,0.0,0,0,0,2.0,96.0,19
1743044,1743044,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,14,3.0,0.0,0.0,0,0,0,3.0,62.0,20
1743045,1743045,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,15,0.0,0.0,0.0,0,0,0,0.0,79.0,21
1743046,1743046,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,10,2.0,0.0,0.0,0,0,0,2.0,102.0,22
1743047,1743047,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,9,0.0,0.0,0.0,0,0,0,0.0,73.0,23
1743048,1743048,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,31,3.0,1.0,0.0,0,14,5,23.0,151.0,0
1743049,1743049,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,57,8.0,2.0,0.0,1,3,1,15.0,166.0,1
1743050,1743050,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,50,9.0,1.0,0.0,0,7,3,20.0,164.0,2
1743051,1743051,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,47,9.0,3.0,0.0,0,6,3,21.0,188.0,3
1743052,1743052,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,47,6.0,1.0,2.0,0,2,2,13.0,231.0,4
1743053,1743053,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,49,8.0,0.0,0.0,0,6,3,17.0,273.0,5
1743054,1743054,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,55,0.0,4.0,1.0,0,4,2,11.0,255.0,6
1743055,1743055,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,48,4.0,0.0,1.0,0,0,4,9.0,239.0,7
1743056,1743056,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,52,4.0,1.0,0.0,0,5,0,10.0,269.0,8
1743057,1743057,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,43,4.0,1.0,0.0,0,5,0,10.0,319.0,9
1743058,1743058,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,21,1.0,0.0,0.0,0,5,0,6.0,277.0,10
1743059,1743059,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,22,0.0,0.0,0.0,0,0,0,0.0,168.0,11

In [15]:
traffic_df.head()

,index,Area,ONS LACode,City,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
0,0,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,7.0,0
1,1,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1
2,2,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,1.0,0.0,0.0,0,0,0,1.0,7.0,2
3,3,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,9.0,3
4,4,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,12.0,4

In [16]:
traffic_df.count()

index              1743060
Area               1743060
ONS LACode         1743060
City               1743060
CP                 1743060
S Ref E            1743060
S Ref N            1743060
S_Ref_Latitude     1743060
S_Ref_Longitude    1743060
Road               1743060
Road_Name          1571774
CP Location         718714
RCat               1743060
iDir               1743060
Year               1743060
dCount             1743060
PC                 1743060
2WMV               1743060
CAR                1743060
BUS                1743060
LGV                1743060
HGVR2              1743060
HGVR3              1743060
HGVR4              1743060
HGVA3              1743060
HGVA5              1743060
HGVA6              1743060
HGV                1743060
AMV                1743060
hours              1743060
dtype: int64

In [17]:
traffic_df.groupby('Area').sum()

,index,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Year,PC,2WMV,CAR,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
East Midlands,111952466310,126532022016,62098908780,43823788608,7.055093e+06,-138072.409689,268129692,219973,156972,14651144,...,2122713,286484.0,45294.0,42770.0,31311,40933,35734,482526.0,17688353.0,1535094
East of England,181232293512,198154521096,117785901168,51285959808,1.087253e+07,82934.675829,419313828,409194,240522,22399025,...,3423789,482292.0,62766.0,60148.0,44030,53864,45489,748589.0,27161462.0,2400624
London,102748286496,112684981848,62713851744,21207538872,6.097928e+06,-15910.730442,237857352,597811,470432,18872351,...,3106990,490958.0,54080.0,59656.0,12541,15818,17818,650871.0,23643317.0,1361376
Merseyside,28689845778,31160322720,11127970764,12903209124,1.756017e+06,-96171.542693,66022680,49469,31507,4597841,...,606710,83370.0,12653.0,10697.0,5334,13464,12734,138252.0,5485525.0,378210
North East,73374038153,81349523775,36842405522,46969676892,4.691578e+06,-130539.475104,171849022,112908,70992,10285751,...,1410838,160672.0,25126.0,19194.0,8340,11672,11515,236519.0,12294472.0,983969
North West,129143437872,144989319924,55864200828,63586085604,8.191829e+06,-384866.136141,306709524,262970,154211,19477680,...,2552886,364940.0,50947.0,43611.0,27641,34906,27642,549685.0,23109855.0,1756800
Scotland,94995890914,102074962188,31817415748,75835753328,5.999747e+06,-387554.037954,214134004,93688,65465,12162659,...,1614085,324018.0,49992.0,38475.0,30434,26448,25960,495327.0,14666823.0,1225570
South East,259754894261,278171964327,147358250096,44199596964,1.500181e+07,-152469.619059,588029757,585802,366375,34113173,...,4871400,580881.0,87614.0,78204.0,34960,45091,36139,862889.0,40663273.0,3366821
South West,146466541068,166094392380,58940361400,23049508860,8.909401e+06,-502432.273735,350266924,297614,272655,19612266,...,2971996,346609.0,63312.0,42918.0,29495,38061,35354,555749.0,23728426.0,2005620
Wales,101344563574,104373350750,32414986646,25489840010,5.702155e+06,-386592.641504,220375362,87780,85859,9817254,...,1376605,153092.0,29153.0,17580.0,12561,11688,10265,234339.0,11741191.0,1261222
West Midlands,159591190077,170903057361,71876308695,52105776354,9.433262e+06,-359412.603129,360860796,227246,200419,23420508,...,3168352,388569.0,77318.0,64856.0,35168,58102,54083,678096.0,27946479.0,2065749
Yorkshire & the Humber,129834762255,141023341989,66478846914,63627681957,7.963632e+06,-186932.643760,297528957,269670,164742,16111926,...,2363016,283370.0,48940.0,46578.0,26046,37003,31845,473782.0,19452134.0,1704063

In [18]:
traffic_df.groupby('Area').count()

,index,ONS LACode,City,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
East Midlands,133500,133500,133500,133500,133500,133500,133500,133500,133500,126024,...,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500
East of England,208752,208752,208752,208752,208752,208752,208752,208752,208752,189948,...,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752
London,118416,118416,118416,118416,118416,118416,118416,118416,118416,117696,...,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416
Merseyside,32868,32868,32868,32868,32868,32868,32868,32868,32868,32328,...,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868
North East,85559,85559,85559,85559,85559,85559,85559,85559,85559,75707,...,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559
North West,152712,152712,152712,152712,152712,152712,152712,152712,152712,146400,...,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712
Scotland,106604,106604,106604,106604,106604,106604,106604,106604,106604,82184,...,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604
South East,292739,292739,292739,292739,292739,292739,292739,292739,292739,275807,...,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739
South West,174416,174416,174416,174416,174416,174416,174416,174416,174416,134456,...,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416
Wales,109702,109702,109702,109702,109702,109702,109702,109702,109702,91512,...,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702
West Midlands,179655,179655,179655,179655,179655,179655,179655,179655,179655,164547,...,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655
Yorkshire & the Humber,148137,148137,148137,148137,148137,148137,148137,148137,148137,135165,...,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137

In [19]:
traffic_df.groupby('City').count()

,index,Area,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
City,,,,,,,,,,,,,,,,,,,,,
Aberdeen City,3924,3924,3924,3924,3924,3924,3924,3924,3924,3588,...,3924,3924,3924,3924,3924,3924,3924,3924,3924,3924
Aberdeenshire,8040,8040,8040,8040,8040,8040,8040,8040,8040,4872,...,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040
Angus,3144,3144,3144,3144,3144,3144,3144,3144,3144,2040,...,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144
Argyll & Bute,2256,2256,2256,2256,2256,2256,2256,2256,2256,396,...,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256
Barking and Dagenham,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
Barnet,4200,4200,4200,4200,4200,4200,4200,4200,4200,4200,...,4200,4200,4200,4200,4200,4200,4200,4200,4200,4200
Barnsley,5952,5952,5952,5952,5952,5952,5952,5952,5952,5808,...,5952,5952,5952,5952,5952,5952,5952,5952,5952,5952
Bath and North East Somerset,4836,4836,4836,4836,4836,4836,4836,4836,4836,4836,...,4836,4836,4836,4836,4836,4836,4836,4836,4836,4836
Bedford,4776,4776,4776,4776,4776,4776,4776,4776,4776,4536,...,4776,4776,4776,4776,4776,4776,4776,4776,4776,4776
Bexley,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988,...,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988
Birmingham,32076,32076,32076,32076,32076,32076,32076,32076,32076,32076,...,32076,32076,32076,32076,32076,32076,32076,32076,32076,32076
Blackburn with Darwen,3048,3048,3048,3048,3048,3048,3048,3048,3048,3048,...,3048,3048,3048,3048,3048,3048,3048,3048,3048,3048
Blackpool,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,...,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756
Blaenau Gwent,2184,2184,2184,2184,2184,2184,2184,2184,2184,1752,...,2184,2184,2184,2184,2184,2184,2184,2184,2184,2184
Bolton,8628,8628,8628,8628,8628,8628,8628,8628,8628,8604,...,8628,8628,8628,8628,8628,8628,8628,8628,8628,8628
Bournemouth,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,...,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860
Bracknell Forest,3744,3744,3744,3744,3744,3744,3744,3744,3744,3744,...,3744,3744,3744,3744,3744,3744,3744,3744,3744,3744
Bradford,11913,11913,11913,11913,11913,11913,11913,11913,11913,11793,...,11913,11913,11913,11913,11913,11913,11913,11913,11913,11913
Brent,3972,3972,3972,3972,3972,3972,3972,3972,3972,3780,...,3972,3972,3972,3972,3972,3972,3972,3972,3972,3972
Bridgend,4440,4440,4440,4440,4440,4440,4440,4440,4440,4128,...,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440
Brighton and Hove,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536,...,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536
"Bristol, City of",12144,12144,12144,12144,12144,12144,12144,12144,12144,12144,...,12144,12144,12144,12144,12144,12144,12144,12144,12144,12144
Bromley,6840,6840,6840,6840,6840,6840,6840,6840,6840,6840,...,6840,6840,6840,6840,6840,6840,6840,6840,6840,6840
Buckinghamshire,18168,18168,18168,18168,18168,18168,18168,18168,18168,17304,...,18168,18168,18168,18168,18168,18168,18168,18168,18168,18168
Bury,4632,4632,4632,4632,4632,4632,4632,4632,4632,4632,...,4632,4632,4632,4632,4632,4632,4632,4632,4632,4632
Caerphilly,6648,6648,6648,6648,6648,6648,6648,6648,6648,6024,...,6648,6648,6648,6648,6648,6648,6648,6648,6648,6648
Calderdale,4992,4992,4992,4992,4992,4992,4992,4992,4992,4992,...,4992,4992,4992,4992,4992,4992,4992,4992,4992,4992
Cambridgeshire,22524,22524,22524,22524,22524,22524,22524,22524,22524,20172,...,22524,22524,22524,22524,22524,22524,22524,22524,22524,22524
Camden,2484,2484,2484,2484,2484,2484,2484,2484,2484,2484,...,2484,2484,2484,2484,2484,2484,2484,2484,2484,2484
Cardiff,14664,14664,14664,14664,14664,14664,14664,14664,14664,14640,...,14664,14664,14664,14664,14664,14664,14664,14664,14664,14664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Swindon,7440,7440,7440,7440,7440,7440,7440,7440,7440,7056,...,7440,7440,7440,7440,7440,7440,7440,7440,7440,7440
Tameside,4128,4128,4128,4128,4128,4128,4128,4128,4128,4056,...,4128,4128,4128,4128,4128,4128,4128,4128,4128,4128
Telford and Wrekin,7752,7752,7752,7752,7752,7752,7752,7752,7752,7032,...,7752,7752,7752,7752,7752,7752,7752,7752,7752,7752
The Vale of Glamorgan,5688,5688,5688,5688,5688,5688,5688,5688,5688,5208,...,5688,5688,5688,5688,5688,5688,5688,5688,5688,5688
Thurrock,5148,5148,5148,5148,5148,5148,5148,5148,5148,4812,...,5148,5148,5148,5148,5148,5148,5148,5148,5148,5148
Torbay,3408,3408,3408,3408,3408,3408,3408,3408,3408,3384,...,3408,3408,3408,3408,3408,3408,3408,3408,3408,3408
Torfaen,3936,3936,3936,3936,3936,3936,3936,3936,3936,3792,...,3936,3936,3936,3936,3936,3936,3936,3936,3936,3936
Tower Hamlets,3720,3720,3720,3720,3720,3720,3720,3720,3720,3672,...,3720,3720,3720,3720,3720,3720,3720,3720,3720,3720
Trafford,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536,...,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536
Wakefield,7968,7968,7968,7968,7968,7968,7968,7968,7968,7968,...,7968,7968,7968,7968,7968,7968,7968,7968,7968,7968
Walsall,6060,6060,6060,6060,6060,6060,6060,6060,6060,6012,...,6060,6060,6060,6060,6060,6060,6060,6060,6060,6060
Waltham Forest,1860,1860,1860,1860,1860,1860,1860,1860,1860,1860,...,1860,1860,1860,1860,1860,1860,1860,1860,1860,1860
Wandsworth,3816,3816,3816,3816,3816,3816,3816,3816,3816,3816,...,3816,3816,3816,3816,3816,3816,3816,3816,3816,3816
Warrington,6240,6240,6240,6240,6240,6240,6240,6240,6240,6240,...,6240,6240,6240,6240,6240,6240,6240,6240,6240,6240
Warwickshire,23715,23715,23715,23715,23715,23715,23715,23715,23715,21891,...,23715,23715,23715,23715,23715,23715,23715,23715,23715,23715
West Berkshire,5820,5820,5820,5820,5820,5820,5820,5820,5820,4716,...,5820,5820,5820,5820,5820,5820,5820,5820,5820,5820
West Cheshire,8160,8160,8160,8160,8160,8160,8160,8160,8160,7896,...,8160,8160,8160,8160,8160,8160,8160,8160,8160,8160
West Dunbartonshire,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,...,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344
West Lothian,3000,3000,3000,3000,3000,3000,3000,3000,3000,2304,...,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
West Sussex,29532,29532,29532,29532,29532,29532,29532,29532,29532,27324,...,29532,29532,29532,29532,29532,29532,29532,29532,29532,29532
Westminster,3072,3072,3072,3072,3072,3072,3072,3072,3072,3072,...,3072,3072,3072,3072,3072,3072,3072,3072,3072,3072
Wigan,7056,7056,7056,7056,7056,7056,7056,7056,7056,7056,...,7056,7056,7056,7056,7056,7056,7056,7056,7056,7056
Wiltshire,15804,15804,15804,15804,15804,15804,15804,15804,15804,11988,...,15804,15804,15804,15804,15804,15804,15804,15804,15804,15804
Windsor and Maidenhead,5016,5016,5016,5016,5016,5016,5016,5016,5016,4752,...,5016,5016,5016,5016,5016,5016,5016,5016,5016,5016
Wirral,7320,7320,7320,7320,7320,7320,7320,7320,7320,7212,...,7320,7320,7320,7320,7320,7320,7320,7320,7320,7320
Wokingham,5064,5064,5064,5064,5064,5064,5064,5064,5064,4896,...,5064,5064,5064,5064,5064,5064,5064,5064,5064,5064
Wolverhampton,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,...,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672
Worcestershire,19776,19776,19776,19776,19776,19776,19776,19776,19776,18024,...,19776,19776,19776,19776,19776,19776,19776,19776,19776,19776
Wrexham,4188,4188,4188,4188,4188,4188,4188,4188,4188,3948,...,4188,4188,4188,4188,4188,4188,4188,4188,4188,4188
York,5280,5280,5280,5280,5280,5280,5280,5280,5280,5040,...,5280,5280,5280,5280,5280,5280,5280,5280,5280,5280

In [20]:
traffic_df[traffic_df.City == 'Knowsley'].groupby(['Area']).count()

,index,ONS LACode,City,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Merseyside,5460,5460,5460,5460,5460,5460,5460,5460,5460,5196,...,5460,5460,5460,5460,5460,5460,5460,5460,5460,5460

In [21]:
traffic_df[traffic_df.City == 'Knowsley']

,index,Area,ONS LACode,City,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
0,0,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,7.0,0
1,1,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1
2,2,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,1.0,0.0,0.0,0,0,0,1.0,7.0,2
3,3,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,9.0,3
4,4,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,12.0,4
5,5,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,13.0,5
6,6,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,14.0,6
7,7,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,1.0,0.0,0.0,0,0,0,1.0,14.0,7
8,8,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,4,0.0,0.0,0.0,0,0,0,0.0,12.0,8
9,9,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,16.0,9
10,10,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,19.0,10
11,11,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,17.0,11
12,12,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,5.0,12
13,13,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,9.0,13
14,14,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,1.0,0.0,0.0,0,0,0,1.0,9.0,14
15,15,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,3.0,15
16,16,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,3,0.0,0.0,0.0,0,0,0,0.0,9.0,16
17,17,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,15.0,17
18,18,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,3,0.0,0.0,0.0,0,0,0,0.0,17.0,18
19,19,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,12.0,19
20,20,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,16.0,20
21,21,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,9.0,21
22,22,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,21.0,22
23,23,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,17.0,23
30996,30996,Merseyside,E08000011,Knowsley,967034,347360,392080,53.422877,-2.793591,U,...,11,1.0,0.0,0.0,0,0,0,1.0,55.0,12
30997,30997,Merseyside,E08000011,Knowsley,967034,347360,392080,53.422877,-2.793591,U,...,4,2.0,0.0,0.0,0,0,0,2.0,105.0,13
30998,30998,Merseyside,E08000011,Knowsley,967034,347360,392080,53.422877,-2.793591,U,...,6,2.0,0.0,0.0,0,0,0,2.0,80.0,14
30999,30999,Merseyside,E08000011,Knowsley,967034,347360,392080,53.422877,-2.793591,U,...,2,0.0,0.0,0.0,0,0,0,0.0,44.0,15
31000,31000,Merseyside,E08000011,Knowsley,967034,347360,392080,53.422877,-2.793591,U,...,7,1.0,0.0,0.0,0,0,0,1.0,47.0,16
31001,31001,Merseyside,E08000011,Knowsley,967034,347360,392080,53.422877,-2.793591,U,...,4,1.0,0.0,0.0,0,0,0,1.0,39.0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670310,1670310,Merseyside,E08000011,Knowsley,943047,343455,399391,53.488179,-2.853663,U,...,3,2.0,0.0,0.0,0,0,0,2.0,14.0,6
1670311,1670311,Merseyside,E08000011,Knowsley,943047,343455,399391,53.488179,-2.853663,U,...,5,1.0,0.0,0.0,1,0,0,2.0,17.0,7
1670312,1670312,Merseyside,E08000011,Knowsley,943047,343455,399391,53.488179,-2.853663,U,...,5,0.0,0.0,0.0,0,1,0,1.0,10.0,8
1670313,1670313,Merseyside,E08000011,Knowsley,943047,343455,399391,53.488179,-2.853663,U,...,4,0.0,0.0,0.0,0,3,0,3.0,15.0,9
1670314,1670314,Merseyside,E08000011,Knowsley,943047,343455,399391,53.488179,-2.853663,U,...,3,0.0,0.0,0.0,0,0,0,0.0,35.0,10
1670315,1670315,Merseyside,E08000011,Knowsley,943047,343455,399391,53.488179,-2.853663,U,...,4,0.0,0.0,0.0,0,0,0,0.0,6.0,11
1670316,1670316,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,19,1.0,3.0,0.0,0,1,1,6.0,86.0,12
1670317,1670317,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,35,4.0,0.0,3.0,1,1,5,14.0,157.0,13
1670318,1670318,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,10,1.0,4.0,2.0,0,0,4,11.0,87.0,14
1670319,1670319,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,25,6.0,1.0,1.0,0,4,8,20.0,101.0,15
1670320,1670320,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,25,9.0,2.0,1.0,0,4,4,20.0,92.0,16
1670321,1670321,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,24,8.0,5.0,1.0,0,2,3,19.0,129.0,17
1670322,1670322,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,13,12.0,1.0,3.0,0,1,4,21.0,89.0,18
1670323,1670323,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,29,10.0,2.0,3.0,0,4,8,27.0,127.0,19
1670324,1670324,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,28,4.0,1.0,5.0,0,3,5,18.0,98.0,20
1670325,1670325,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,53,3.0,0.0,4.0,0,2,2,11.0,182.0,21
1670326,1670326,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,25,2.0,0.0,0.0,0,2,3,7.0,154.0,22
1670327,1670327,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,6,0.0,0.0,0.0,0,0,0,0.0,55.0,23
1670328,1670328,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,17,2.0,0.0,0.0,0,0,0,2.0,59.0,0
1670329,1670329,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,18,2.0,0.0,1.0,0,0,0,3.0,65.0,1
1670330,1670330,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,10,1.0,0.0,0.0,0,0,0,1.0,31.0,2
1670331,1670331,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,4,4.0,1.0,1.0,0,1,0,7.0,31.0,3
1670332,1670332,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,15,7.0,1.0,0.0,0,0,0,8.0,50.0,4
1670333,1670333,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,16,2.0,1.0,0.0,0,0,0,3.0,49.0,5
1670334,1670334,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,3,5.0,0.0,0.0,0,0,0,5.0,19.0,6
1670335,1670335,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,15,3.0,1.0,1.0,0,2,0,7.0,45.0,7
1670336,1670336,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,6,2.0,0.0,1.0,0,0,3,6.0,21.0,8
1670337,1670337,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,11,2.0,0.0,1.0,0,0,0,3.0,34.0,9
1670338,1670338,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,4,1.0,0.0,0.0,0,1,0,2.0,26.0,10
1670339,1670339,Merseyside,E08000011,Knowsley,943048,343637,399486,53.489052,-2.850938,U,...,1,0.0,0.0,0.0,0,0,0,0.0,7.0,11

In [42]:
traffic_df[traffic_df.City == 'Knowsley'][['Area','Year','dCount','Road_Name','hours']]

               Area  Year      dCount       Road_Name  hours
0        Merseyside  2000  2000-06-08  Dunmail Avenue      0
1        Merseyside  2000  2000-06-08  Dunmail Avenue      1
2        Merseyside  2000  2000-06-08  Dunmail Avenue      2
3        Merseyside  2000  2000-06-08  Dunmail Avenue      3
4        Merseyside  2000  2000-06-08  Dunmail Avenue      4
5        Merseyside  2000  2000-06-08  Dunmail Avenue      5
6        Merseyside  2000  2000-06-08  Dunmail Avenue      6
7        Merseyside  2000  2000-06-08  Dunmail Avenue      7
8        Merseyside  2000  2000-06-08  Dunmail Avenue      8
9        Merseyside  2000  2000-06-08  Dunmail Avenue      9
10       Merseyside  2000  2000-06-08  Dunmail Avenue     10
11       Merseyside  2000  2000-06-08  Dunmail Avenue     11
12       Merseyside  2000  2000-06-08  Dunmail Avenue     12
13       Merseyside  2000  2000-06-08  Dunmail Avenue     13
14       Merseyside  2000  2000-06-08  Dunmail Avenue     14
15       Merseyside  2000  2000-06-08  Dunmail Avenue     15
16       Merseyside  2000  2000-06-08  Dunmail Avenue     16
17       Merseyside  2000  2000-06-08  Dunmail Avenue     17
18       Merseyside  2000  2000-06-08  Dunmail Avenue     18
19       Merseyside  2000  2000-06-08  Dunmail Avenue     19
20       Merseyside  2000  2000-06-08  Dunmail Avenue     20
21       Merseyside  2000  2000-06-08  Dunmail Avenue     21
22       Merseyside  2000  2000-06-08  Dunmail Avenue     22
23       Merseyside  2000  2000-06-08  Dunmail Avenue     23
30996    Merseyside  2000  2000-06-28       Ash Grove     12
30997    Merseyside  2000  2000-06-28       Ash Grove     13
30998    Merseyside  2000  2000-06-28       Ash Grove     14
30999    Merseyside  2000  2000-06-28       Ash Grove     15
31000    Merseyside  2000  2000-06-28       Ash Grove     16
31001    Merseyside  2000  2000-06-28       Ash Grove     17
...             ...   ...         ...             ...    ...
1670310  Merseyside  2016  2016-05-24    HAMMOND ROAD      6
1670311  Merseyside  2016  2016-05-24    HAMMOND ROAD      7
1670312  Merseyside  2016  2016-05-24    HAMMOND ROAD      8
1670313  Merseyside  2016  2016-05-24    HAMMOND ROAD      9
1670314  Merseyside  2016  2016-05-24    HAMMOND ROAD     10
1670315  Merseyside  2016  2016-05-24    HAMMOND ROAD     11
1670316  Merseyside  2016  2016-09-29   WOODWARD ROAD     12
1670317  Merseyside  2016  2016-09-29   WOODWARD ROAD     13
1670318  Merseyside  2016  2016-09-29   WOODWARD ROAD     14
1670319  Merseyside  2016  2016-09-29   WOODWARD ROAD     15
1670320  Merseyside  2016  2016-09-29   WOODWARD ROAD     16
1670321  Merseyside  2016  2016-09-29   WOODWARD ROAD     17
1670322  Merseyside  2016  2016-09-29   WOODWARD ROAD     18
1670323  Merseyside  2016  2016-09-29   WOODWARD ROAD     19
1670324  Merseyside  2016  2016-09-29   WOODWARD ROAD     20
1670325  Merseyside  2016  2016-09-29   WOODWARD ROAD     21
1670326  Merseyside  2016  2016-09-29   WOODWARD ROAD     22
1670327  Merseyside  2016  2016-09-29   WOODWARD ROAD     23
1670328  Merseyside  2016  2016-09-29   WOODWARD ROAD      0
1670329  Merseyside  2016  2016-09-29   WOODWARD ROAD      1
1670330  Merseyside  2016  2016-09-29   WOODWARD ROAD      2
1670331  Merseyside  2016  2016-09-29   WOODWARD ROAD      3
1670332  Merseyside  2016  2016-09-29   WOODWARD ROAD      4
1670333  Merseyside  2016  2016-09-29   WOODWARD ROAD      5
1670334  Merseyside  2016  2016-09-29   WOODWARD ROAD      6
1670335  Merseyside  2016  2016-09-29   WOODWARD ROAD      7
1670336  Merseyside  2016  2016-09-29   WOODWARD ROAD      8
1670337  Merseyside  2016  2016-09-29   WOODWARD ROAD      9
1670338  Merseyside  2016  2016-09-29   WOODWARD ROAD     10
1670339  Merseyside  2016  2016-09-29   WOODWARD ROAD     11

[5460 rows x 5 columns]

In [28]:
traffic_df[traffic_df.City == 'Angus'][['Area','Year','dCount','hours']]

             Area  Year      dCount  hours
624      Scotland  2000  2000-09-26      0
625      Scotland  2000  2000-09-26      1
626      Scotland  2000  2000-09-26      2
627      Scotland  2000  2000-09-26      3
628      Scotland  2000  2000-09-26      4
629      Scotland  2000  2000-09-26      5
630      Scotland  2000  2000-09-26      6
631      Scotland  2000  2000-09-26      7
632      Scotland  2000  2000-09-26      8
633      Scotland  2000  2000-09-26      9
634      Scotland  2000  2000-09-26     10
635      Scotland  2000  2000-09-26     11
636      Scotland  2000  2000-09-26     12
637      Scotland  2000  2000-09-26     13
638      Scotland  2000  2000-09-26     14
639      Scotland  2000  2000-09-26     15
640      Scotland  2000  2000-09-26     16
641      Scotland  2000  2000-09-26     17
642      Scotland  2000  2000-09-26     18
643      Scotland  2000  2000-09-26     19
644      Scotland  2000  2000-09-26     20
645      Scotland  2000  2000-09-26     21
646      Scotland  2000  2000-09-26     22
647      Scotland  2000  2000-09-26     23
9924     Scotland  2000  2000-05-25     12
9925     Scotland  2000  2000-05-25     13
9926     Scotland  2000  2000-05-25     14
9927     Scotland  2000  2000-05-25     15
9928     Scotland  2000  2000-05-25     16
9929     Scotland  2000  2000-05-25     17
...           ...   ...         ...    ...
1741518  Scotland  2016  2016-09-12      6
1741519  Scotland  2016  2016-09-12      7
1741520  Scotland  2016  2016-09-12      8
1741521  Scotland  2016  2016-09-12      9
1741522  Scotland  2016  2016-09-12     10
1741523  Scotland  2016  2016-09-12     11
1742244  Scotland  2016  2016-03-21     12
1742245  Scotland  2016  2016-03-21     13
1742246  Scotland  2016  2016-03-21     14
1742247  Scotland  2016  2016-03-21     15
1742248  Scotland  2016  2016-03-21     16
1742249  Scotland  2016  2016-03-21     17
1742250  Scotland  2016  2016-03-21     18
1742251  Scotland  2016  2016-03-21     19
1742252  Scotland  2016  2016-03-21     20
1742253  Scotland  2016  2016-03-21     21
1742254  Scotland  2016  2016-03-21     22
1742255  Scotland  2016  2016-03-21     23
1742256  Scotland  2016  2016-03-21      0
1742257  Scotland  2016  2016-03-21      1
1742258  Scotland  2016  2016-03-21      2
1742259  Scotland  2016  2016-03-21      3
1742260  Scotland  2016  2016-03-21      4
1742261  Scotland  2016  2016-03-21      5
1742262  Scotland  2016  2016-03-21      6
1742263  Scotland  2016  2016-03-21      7
1742264  Scotland  2016  2016-03-21      8
1742265  Scotland  2016  2016-03-21      9
1742266  Scotland  2016  2016-03-21     10
1742267  Scotland  2016  2016-03-21     11

[3144 rows x 4 columns]

In [36]:
traffic_df[traffic_df.City == 'Angus'].head()[['Area','Year','dCount','hours']]

         Area  Year      dCount  hours
624  Scotland  2000  2000-09-26      0
625  Scotland  2000  2000-09-26      1
626  Scotland  2000  2000-09-26      2
627  Scotland  2000  2000-09-26      3
628  Scotland  2000  2000-09-26      4

In [65]:
traffic_df[traffic_df.City == 'Angus'].groupby(['Road_Name']).count()[['Area','Year','dCount','CAR','BUS', 'LGV','HGVR2','HGVR3','HGVR4','HGVA3','HGVA5','HGVA6','HGV','AMV','hours']]

,Area,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Road_Name,,,,,,,,,,,,,,,
Craig Road,360,360,360,360,360,360,360,360,360,360,360,360,360,360,360
Elmfield Avenue,360,360,360,360,360,360,360,360,360,360,360,360,360,360,360
Horologe Hill,360,360,360,360,360,360,360,360,360,360,360,360,360,360,360
Meigle Road,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312
Montrose Road,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24
Scott Street,336,336,336,336,336,336,336,336,336,336,336,336,336,336,336
Threewells Drive,288,288,288,288,288,288,288,288,288,288,288,288,288,288,288

In [57]:
traffic_df['AMV'].sum()

247581310.0

In [66]:
traffic_df1 = traffic_df[traffic_df.City == 'Knowsley']

In [74]:
traffic_df2 = traffic_df1[traffic_df1.Area == 'Merseyside']

In [75]:
traffic_df2[['Area','Year','dCount','CAR','BUS', 'LGV','HGVR2','HGVR3','HGVR4','HGVA3','HGVA5','HGVA6','HGV','AMV','hours']]

,Area,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
0,Merseyside,2000,2000-06-08,4,1.0,2,0.0,0.0,0.0,0,0,0,0.0,7.0,0
1,Merseyside,2000,2000-06-08,9,0.0,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1
2,Merseyside,2000,2000-06-08,4,1.0,1,1.0,0.0,0.0,0,0,0,1.0,7.0,2
3,Merseyside,2000,2000-06-08,6,1.0,2,0.0,0.0,0.0,0,0,0,0.0,9.0,3
4,Merseyside,2000,2000-06-08,10,1.0,1,0.0,0.0,0.0,0,0,0,0.0,12.0,4
5,Merseyside,2000,2000-06-08,11,1.0,1,0.0,0.0,0.0,0,0,0,0.0,13.0,5
6,Merseyside,2000,2000-06-08,11,1.0,2,0.0,0.0,0.0,0,0,0,0.0,14.0,6
7,Merseyside,2000,2000-06-08,10,1.0,2,1.0,0.0,0.0,0,0,0,1.0,14.0,7
8,Merseyside,2000,2000-06-08,6,1.0,4,0.0,0.0,0.0,0,0,0,0.0,12.0,8
9,Merseyside,2000,2000-06-08,13,1.0,2,0.0,0.0,0.0,0,0,0,0.0,16.0,9
10,Merseyside,2000,2000-06-08,17,0.0,2,0.0,0.0,0.0,0,0,0,0.0,19.0,10
11,Merseyside,2000,2000-06-08,15,0.0,1,0.0,0.0,0.0,0,0,0,0.0,17.0,11
12,Merseyside,2000,2000-06-08,5,0.0,0,0.0,0.0,0.0,0,0,0,0.0,5.0,12
13,Merseyside,2000,2000-06-08,8,0.0,1,0.0,0.0,0.0,0,0,0,0.0,9.0,13
14,Merseyside,2000,2000-06-08,6,0.0,2,1.0,0.0,0.0,0,0,0,1.0,9.0,14
15,Merseyside,2000,2000-06-08,3,0.0,0,0.0,0.0,0.0,0,0,0,0.0,3.0,15
16,Merseyside,2000,2000-06-08,6,0.0,3,0.0,0.0,0.0,0,0,0,0.0,9.0,16
17,Merseyside,2000,2000-06-08,14,0.0,1,0.0,0.0,0.0,0,0,0,0.0,15.0,17
18,Merseyside,2000,2000-06-08,14,0.0,3,0.0,0.0,0.0,0,0,0,0.0,17.0,18
19,Merseyside,2000,2000-06-08,12,0.0,0,0.0,0.0,0.0,0,0,0,0.0,12.0,19
20,Merseyside,2000,2000-06-08,12,2.0,2,0.0,0.0,0.0,0,0,0,0.0,16.0,20
21,Merseyside,2000,2000-06-08,8,0.0,0,0.0,0.0,0.0,0,0,0,0.0,9.0,21
22,Merseyside,2000,2000-06-08,19,0.0,2,0.0,0.0,0.0,0,0,0,0.0,21.0,22
23,Merseyside,2000,2000-06-08,16,0.0,1,0.0,0.0,0.0,0,0,0,0.0,17.0,23
30996,Merseyside,2000,2000-06-28,42,1.0,11,1.0,0.0,0.0,0,0,0,1.0,55.0,12
30997,Merseyside,2000,2000-06-28,96,2.0,4,2.0,0.0,0.0,0,0,0,2.0,105.0,13
30998,Merseyside,2000,2000-06-28,71,1.0,6,2.0,0.0,0.0,0,0,0,2.0,80.0,14
30999,Merseyside,2000,2000-06-28,41,1.0,2,0.0,0.0,0.0,0,0,0,0.0,44.0,15
31000,Merseyside,2000,2000-06-28,37,2.0,7,1.0,0.0,0.0,0,0,0,1.0,47.0,16
31001,Merseyside,2000,2000-06-28,32,2.0,4,1.0,0.0,0.0,0,0,0,1.0,39.0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670310,Merseyside,2016,2016-05-24,6,3.0,3,2.0,0.0,0.0,0,0,0,2.0,14.0,6
1670311,Merseyside,2016,2016-05-24,9,0.0,5,1.0,0.0,0.0,1,0,0,2.0,17.0,7
1670312,Merseyside,2016,2016-05-24,4,0.0,5,0.0,0.0,0.0,0,1,0,1.0,10.0,8
1670313,Merseyside,2016,2016-05-24,7,0.0,4,0.0,0.0,0.0,0,3,0,3.0,15.0,9
1670314,Merseyside,2016,2016-05-24,25,7.0,3,0.0,0.0,0.0,0,0,0,0.0,35.0,10
1670315,Merseyside,2016,2016-05-24,2,0.0,4,0.0,0.0,0.0,0,0,0,0.0,6.0,11
1670316,Merseyside,2016,2016-09-29,48,11.0,19,1.0,3.0,0.0,0,1,1,6.0,86.0,12
1670317,Merseyside,2016,2016-09-29,100,7.0,35,4.0,0.0,3.0,1,1,5,14.0,157.0,13
1670318,Merseyside,2016,2016-09-29,60,6.0,10,1.0,4.0,2.0,0,0,4,11.0,87.0,14
1670319,Merseyside,2016,2016-09-29,52,4.0,25,6.0,1.0,1.0,0,4,8,20.0,101.0,15
1670320,Merseyside,2016,2016-09-29,43,3.0,25,9.0,2.0,1.0,0,4,4,20.0,92.0,16
1670321,Merseyside,2016,2016-09-29,84,2.0,24,8.0,5.0,1.0,0,2,3,19.0,129.0,17
1670322,Merseyside,2016,2016-09-29,51,4.0,13,12.0,1.0,3.0,0,1,4,21.0,89.0,18
1670323,Merseyside,2016,2016-09-29,68,3.0,29,10.0,2.0,3.0,0,4,8,27.0,127.0,19
1670324,Merseyside,2016,2016-09-29,49,3.0,28,4.0,1.0,5.0,0,3,5,18.0,98.0,20
1670325,Merseyside,2016,2016-09-29,106,8.0,53,3.0,0.0,4.0,0,2,2,11.0,182.0,21
1670326,Merseyside,2016,2016-09-29,115,7.0,25,2.0,0.0,0.0,0,2,3,7.0,154.0,22
1670327,Merseyside,2016,2016-09-29,45,4.0,6,0.0,0.0,0.0,0,0,0,0.0,55.0,23
1670328,Merseyside,2016,2016-09-29,40,0.0,17,2.0,0.0,0.0,0,0,0,2.0,59.0,0
1670329,Merseyside,2016,2016-09-29,44,0.0,18,2.0,0.0,1.0,0,0,0,3.0,65.0,1
1670330,Merseyside,2016,2016-09-29,20,0.0,10,1.0,0.0,0.0,0,0,0,1.0,31.0,2
1670331,Merseyside,2016,2016-09-29,20,0.0,4,4.0,1.0,1.0,0,1,0,7.0,31.0,3
1670332,Merseyside,2016,2016-09-29,26,1.0,15,7.0,1.0,0.0,0,0,0,8.0,50.0,4
1670333,Merseyside,2016,2016-09-29,30,0.0,16,2.0,1.0,0.0,0,0,0,3.0,49.0,5
1670334,Merseyside,2016,2016-09-29,10,0.0,3,5.0,0.0,0.0,0,0,0,5.0,19.0,6
1670335,Merseyside,2016,2016-09-29,22,0.0,15,3.0,1.0,1.0,0,2,0,7.0,45.0,7
1670336,Merseyside,2016,2016-09-29,9,0.0,6,2.0,0.0,1.0,0,0,3,6.0,21.0,8
1670337,Merseyside,2016,2016-09-29,19,0.0,11,2.0,0.0,1.0,0,0,0,3.0,34.0,9
1670338,Merseyside,2016,2016-09-29,20,0.0,4,1.0,0.0,0.0,0,1,0,2.0,26.0,10
1670339,Merseyside,2016,2016-09-29,6,0.0,1,0.0,0.0,0.0,0,0,0,0.0,7.0,11

In [76]:
traffic_df3 = traffic_df2[traffic_df2.dCount == '2000-06-08']

In [79]:
traffic_df3[['Area','Year','dCount','CAR','BUS', 'LGV','HGVR2','HGVR3','HGVR4','HGVA3','HGVA5','HGVA6','HGV','AMV','hours']]

,Area,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
0,Merseyside,2000,2000-06-08,4,1.0,2,0.0,0.0,0.0,0,0,0,0.0,7.0,0
1,Merseyside,2000,2000-06-08,9,0.0,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1
2,Merseyside,2000,2000-06-08,4,1.0,1,1.0,0.0,0.0,0,0,0,1.0,7.0,2
3,Merseyside,2000,2000-06-08,6,1.0,2,0.0,0.0,0.0,0,0,0,0.0,9.0,3
4,Merseyside,2000,2000-06-08,10,1.0,1,0.0,0.0,0.0,0,0,0,0.0,12.0,4
5,Merseyside,2000,2000-06-08,11,1.0,1,0.0,0.0,0.0,0,0,0,0.0,13.0,5
6,Merseyside,2000,2000-06-08,11,1.0,2,0.0,0.0,0.0,0,0,0,0.0,14.0,6
7,Merseyside,2000,2000-06-08,10,1.0,2,1.0,0.0,0.0,0,0,0,1.0,14.0,7
8,Merseyside,2000,2000-06-08,6,1.0,4,0.0,0.0,0.0,0,0,0,0.0,12.0,8
9,Merseyside,2000,2000-06-08,13,1.0,2,0.0,0.0,0.0,0,0,0,0.0,16.0,9
10,Merseyside,2000,2000-06-08,17,0.0,2,0.0,0.0,0.0,0,0,0,0.0,19.0,10
11,Merseyside,2000,2000-06-08,15,0.0,1,0.0,0.0,0.0,0,0,0,0.0,17.0,11
12,Merseyside,2000,2000-06-08,5,0.0,0,0.0,0.0,0.0,0,0,0,0.0,5.0,12
13,Merseyside,2000,2000-06-08,8,0.0,1,0.0,0.0,0.0,0,0,0,0.0,9.0,13
14,Merseyside,2000,2000-06-08,6,0.0,2,1.0,0.0,0.0,0,0,0,1.0,9.0,14
15,Merseyside,2000,2000-06-08,3,0.0,0,0.0,0.0,0.0,0,0,0,0.0,3.0,15
16,Merseyside,2000,2000-06-08,6,0.0,3,0.0,0.0,0.0,0,0,0,0.0,9.0,16
17,Merseyside,2000,2000-06-08,14,0.0,1,0.0,0.0,0.0,0,0,0,0.0,15.0,17
18,Merseyside,2000,2000-06-08,14,0.0,3,0.0,0.0,0.0,0,0,0,0.0,17.0,18
19,Merseyside,2000,2000-06-08,12,0.0,0,0.0,0.0,0.0,0,0,0,0.0,12.0,19
20,Merseyside,2000,2000-06-08,12,2.0,2,0.0,0.0,0.0,0,0,0,0.0,16.0,20
21,Merseyside,2000,2000-06-08,8,0.0,0,0.0,0.0,0.0,0,0,0,0.0,9.0,21
22,Merseyside,2000,2000-06-08,19,0.0,2,0.0,0.0,0.0,0,0,0,0.0,21.0,22
23,Merseyside,2000,2000-06-08,16,0.0,1,0.0,0.0,0.0,0,0,0,0.0,17.0,23

In [80]:
traffic_df4 = traffic_df3[traffic_df3.hours == 1]

In [81]:
traffic_df4[['Area','Year','dCount','CAR','BUS', 'LGV','HGVR2','HGVR3','HGVR4','HGVA3','HGVA5','HGVA6','HGV','AMV','hours']]

,Area,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
1,Merseyside,2000,2000-06-08,9,0.0,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1

In [84]:
traffic_df1 = traffic_df[traffic_df.City == 'Knowsley']
traffic_df2 = traffic_df1[traffic_df1.Area == 'Merseyside']
traffic_df3 = traffic_df2[traffic_df2.dCount == '2000-06-08']
traffic_df4 = traffic_df3[traffic_df3.hours == 1]

In [85]:
traffic_df4[['Area','Year','dCount','CAR','BUS', 'LGV','HGVR2','HGVR3','HGVR4','HGVA3','HGVA5','HGVA6','HGV','AMV','hours']]

,Area,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
1,Merseyside,2000,2000-06-08,9,0.0,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1

In [88]:
car_num = traffic_df4['CAR'].sum()
bus_num = traffic_df4['BUS'].sum()
lgv_num = traffic_df4['LGV'].sum()
h2_num = traffic_df4['HGVR2'].sum()
h3_num = traffic_df4['HGVR3'].sum()
h4_num = traffic_df4['HGVR4'].sum()
v3_num = traffic_df4['HGVA3'].sum()
v5_num = traffic_df4['HGVA5'].sum()
v6_num = traffic_df4['HGVA6'].sum()
hgv_num = traffic_df4['HGV'].sum()
amv_num = traffic_df4['AMV'].sum()

In [89]:
veh_sum = car_num + bus_num + lgv_num + h2_num + h3_num + h4_num + v3_num + v5_num + v6_num + hgv_num + amv_num

In [90]:
veh_sum

22.0